In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('631c5b93-2d7c-439a-9f0b-98c1165ca10b_Data.csv')

In [3]:
df

,Series Name,Series Code,Country Name,Country Code,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,United Kingdom,GBR,..,..,..,..,..
1,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,France,FRA,..,..,..,..,..
2,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,United States,USA,..,..,..,..,..
3,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,Germany,DEU,..,..,..,..,..
4,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,Japan,JPN,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,Last Updated: 07/30/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN