In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt 
import plotly.express as px
import plotly.graph_objects as go
import warnings
import shap

from datetime import datetime

from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import roc_curve, auc
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, f1_score, roc_curve, auc

import xgboost as xgb

from pdpbox import pdp, info_plots
from pdpbox import pdp, info_plots

sns.set()

In [2]:
df=pd.read_csv('Fic.csv')
df2=pd.read_csv('file.csv')

In [3]:
df

,Year,Country,CO2 emissions (metric tons per capita),GDP (current US$),"Life expectancy at birth, total (years)","GNI per capita, Atlas method (current US$)","School enrollment, primary (% gross)","Population, total",Transport services (% of commercial service exports),"Transport services (% of service exports, BoP)",Public credit registry coverage (% of adults)
0,2011 [YR2011],United Kingdom,7.025425,2.659882e+12,80.951220,41060.0,104.425713,63258810,9.800114,9.687685,0
1,2012 [YR2012],United Kingdom,7.332471,2.704017e+12,80.904878,41690.0,106.246078,63700215,10.218725,10.105228,0
2,2013 [YR2013],United Kingdom,7.064903,2.783251e+12,81.004878,42730.0,107.112000,64128273,9.623713,9.509182,0
3,2014 [YR2014],United Kingdom,6.421598,3.065521e+12,81.304878,44400.0,102.255547,64602298,9.314380,9.210033,0
4,2015 [YR2015],United Kingdom,6.148545,2.932785e+12,80.956098,44340.0,101.925270,65116219,9.020134,8.921660,0
5,2016 [YR2016],United Kingdom,5.774742,2.693248e+12,81.156098,42940.0,101.335213,65611593,8.681399,8.594154,0
6,2017 [YR2017],United Kingdom,5.546266,2.662484e+12,81.256098,41280.0,101.154556,66058859,8.495493,8.414957,0
7,2018 [YR2018],United Kingdom,5.398708,2.857317e+12,81.256098,41740.0,100.995552,66460344,8.135844,8.066427,0
8,2019 [YR2019],United Kingdom,NaN,2.830814e+12,81.204878,42130.0,NaN,66836327,9.585110,9.488768,0
9,2020 [YR2020],United Kingdom,NaN,2.707744e+12,NaN,NaN,NaN,67215293,6.012522,5.948490,..
10,2011 [YR2011],France,5.104312,2.861408e+12,82.114634,44350.0,102.691101,65342789,20.859803,20.754653,43.3
11,2012 [YR2012],France,5.122311,2.683825e+12,81.968293,43380.0,102.523163,65659814,20.262030,20.180312,42.4
12,2013 [YR2013],France,5.100556,2.811078e+12,82.219512,43780.0,102.276443,65998685,18.129883,18.050775,43.6
13,2014 [YR2014],France,4.592377,2.852166e+12,82.719512,43320.0,101.280350,66312067,17.641495,17.561723,44.5
14,2015 [YR2015],France,4.666087,2.438208e+12,82.321951,41100.0,101.989639,66548272,16.433037,16.383599,45.1
15,2016 [YR2016],France,4.686612,2.471286e+12,82.573171,39070.0,102.260429,66724104,15.583267,15.539821,46.7
16,2017 [YR2017],France,4.727576,2.588741e+12,82.575610,38270.0,102.417221,66918020,16.807192,16.730358,47.2
17,2018 [YR2018],France,4.619241,2.786503e+12,82.724390,41080.0,102.874001,67101930,15.342621,15.312337,47.1
18,2019 [YR2019],France,NaN,2.715518e+12,82.578049,42290.0,NaN,67248926,15.935128,15.905195,47
19,2020 [YR2020],France,NaN,2.603004e+12,NaN,NaN,NaN,67391582,17.556274,17.514769,..
20,2011 [YR2011],Germany,9.297791,3.744409e+12,80.436585,47220.0,102.466560,80274983,23.847167,23.356080,1.3
21,2012 [YR2012],Germany,9.449950,3.527345e+12,80.539024,46530.0,101.614197,80425823,22.639901,22.191159,1.3
22,2013 [YR2013],Germany,9.642559,3.732743e+12,80.490244,47190.0,100.838249,80645605,22.299752,21.859033,0
23,2014 [YR2014],Germany,9.106782,3.883920e+12,81.090244,47620.0,100.538643,80982500,20.747599,20.383085,1.3
24,2015 [YR2015],Germany,9.087291,3.356236e+12,80.641463,45750.0,101.667450,81686611,20.498797,20.130260,1.6
25,2016 [YR2016],Germany,9.073006,3.467498e+12,80.990244,44250.0,102.677559,82348669,19.154295,18.838913,1.9
26,2017 [YR2017],Germany,8.858294,3.673506e+12,80.992683,43650.0,104.022362,82657002,19.476609,19.222996,1.9
27,2018 [YR2018],Germany,8.558390,3.961832e+12,80.892683,47140.0,103.894562,82905782,20.022699,19.698701,2
28,2019 [YR2019],Germany,NaN,3.861124e+12,80.941463,48550.0,NaN,83092962,20.115787,19.798902,1.8
29,2020 [YR2020],Germany,NaN,3.806060e+12,NaN,46980.0,NaN,83240525,17.788392,17.474166,..
30,2011 [YR2011],Japan,9.482450,6.157460e+12,82.591220,46880.0,NaN,127833000,30.277985,29.642917,..
31,2012 [YR2012],Japan,9.811406,6.203213e+12,83.096098,49480.0,NaN,127629000,32.075428,31.348981,..
32,2013 [YR2013],Japan,9.893680,5.155717e+12,83.331951,48280.0,NaN,127445000,29.777281,29.210150,0
33,2014 [YR2014],Japan,9.584054,4.850414e+12,83.587805,43950.0,NaN,127276000,24.843133,24.166407,0
34,2015 [YR2015],Japan,9.292832,4.389476e+12,83.793902,38840.0,NaN,127141000,22.356465,21.760241,0
35,2016 [YR2016],Japan,9.223942,4.922538e+12,83.984878,37860.0,NaN,126994511,18.590956,18.048072,0
36,2017 [YR2017],Japan,9.085639,4.866864e+12,84.099756,38490.0,NaN,126785797,18.765310,18.277774,0
37,2018 [YR2018],Japan,8.742258,4.954807e+12,84.210976,41150.0,NaN,126529100,15.286502,14.914376,0
38,2019 [YR2019],Japan,NaN,5.064873e+12,84.356341,41580.0,NaN,126264931,12.786570,12.510061,0
39,2020 [YR2020],Japan,NaN,NaN,NaN,NaN,NaN,125836021,13.210769,12.889472,..
40,2011 [YR2011],United States,16.599404,1.554258e+13,78.641463,50580.0,99.389877,311583481,13.307788,12.864586,..
41,2012 [YR2012],United States,15.771145,1.619701e+13,78.741463,52760.0,99.165321,313877662,13.315748,12.885100,..
42,2013 [YR2013],United States,16.102958,1.678485e+13,78.741463,53930.0,99.455437,316059947,12.899915,12.508148,0
43,2014 [YR2014],United States,16.026379,1.752716e+13,78.841463,55840.0,99.673378,318386329,12.304887,11.984639,0
44,2015 [YR2015],United States,15.535342,1.823830e+13,78.690244,56740.0,100.299911,320738994,11.284041,10.989048,0
45,2016 [YR2016],United States,15.131747,1.874508e+13,78.539024,57270.0,101.362862,323071755,10.735529,10.477267,0
46,2017 [YR2017],United States,14.805882,1.954298e+13,78.539024,59460.0,101.821442,325122128,10.653650,10.398031,0
47,2018 [YR2018],United States,15.240875,2.061186e+13,78.639024,63510.0,101.256561,326838199,11.094679,10.812331,0
48,2019 [YR2019],United States,NaN,2.143322e+13,78.787805,65910.0,NaN,328329953,10.675456,10.400534,0
49,2020 [YR2020],United States,NaN,2.093660e+13,NaN,NaN,NaN,329484123,8.488175,8.208079,..

In [4]:
df.isna().sum()

Year                                                     0
Country                                                  0
CO2 emissions (metric tons per capita)                  10
GDP (current US$)                                        1
Life expectancy at birth, total (years)                  5
GNI per capita, Atlas method (current US$)               4
School enrollment, primary (% gross)                    18
Population, total                                        0
Transport services (% of commercial service exports)     0
Transport services (% of service exports, BoP)           0
Public credit registry coverage (% of adults)            0
dtype: int64

In [5]:
dscrb=df.describe(include='all')
dscrb

,Year,Country,CO2 emissions (metric tons per capita),GDP (current US$),"Life expectancy at birth, total (years)","GNI per capita, Atlas method (current US$)","School enrollment, primary (% gross)","Population, total",Transport services (% of commercial service exports),"Transport services (% of service exports, BoP)",Public credit registry coverage (% of adults)
count,50,50,40.000000,4.900000e+01,45.000000,46.000000,32.000000,5.000000e+01,50.000000,50.000000,50
unique,10,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
top,2016 [YR2016],Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
freq,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
mean,NaN,NaN,9.068395,6.609153e+12,81.333751,46224.782609,101.997083,1.323944e+08,16.055189,15.782593,NaN
std,NaN,NaN,3.787854,6.245535e+12,1.721026,6546.077617,1.772107,9.811473e+07,6.138789,6.016684,NaN
min,NaN,NaN,4.592377,2.438208e+12,78.539024,37860.000000,99.165321,6.325881e+07,6.012522,5.948490,NaN
25%,NaN,NaN,5.717623,2.786503e+12,80.539024,41702.500000,101.114805,6.659223e+07,10.690475,10.419717,NaN
50%,NaN,NaN,9.079323,3.732743e+12,81.156098,44295.000000,101.873356,8.201764e+07,15.759198,15.722508,NaN
75%,NaN,NaN,9.684771,5.155717e+12,82.578049,48115.000000,102.561762,1.274028e+08,20.092515,19.773852,NaN
max,NaN,NaN,16.599404,2.143322e+13,84.356341,65910.000000,107.112000,3.294841e+08,32.075428,31.348981,NaN

In [6]:
df=df.fillna(0)

In [7]:
df

,Year,Country,CO2 emissions (metric tons per capita),GDP (current US$),"Life expectancy at birth, total (years)","GNI per capita, Atlas method (current US$)","School enrollment, primary (% gross)","Population, total",Transport services (% of commercial service exports),"Transport services (% of service exports, BoP)",Public credit registry coverage (% of adults)
0,2011 [YR2011],United Kingdom,7.025425,2.659882e+12,80.951220,41060.0,104.425713,63258810,9.800114,9.687685,0
1,2012 [YR2012],United Kingdom,7.332471,2.704017e+12,80.904878,41690.0,106.246078,63700215,10.218725,10.105228,0
2,2013 [YR2013],United Kingdom,7.064903,2.783251e+12,81.004878,42730.0,107.112000,64128273,9.623713,9.509182,0
3,2014 [YR2014],United Kingdom,6.421598,3.065521e+12,81.304878,44400.0,102.255547,64602298,9.314380,9.210033,0
4,2015 [YR2015],United Kingdom,6.148545,2.932785e+12,80.956098,44340.0,101.925270,65116219,9.020134,8.921660,0
5,2016 [YR2016],United Kingdom,5.774742,2.693248e+12,81.156098,42940.0,101.335213,65611593,8.681399,8.594154,0
6,2017 [YR2017],United Kingdom,5.546266,2.662484e+12,81.256098,41280.0,101.154556,66058859,8.495493,8.414957,0
7,2018 [YR2018],United Kingdom,5.398708,2.857317e+12,81.256098,41740.0,100.995552,66460344,8.135844,8.066427,0
8,2019 [YR2019],United Kingdom,0.000000,2.830814e+12,81.204878,42130.0,0.000000,66836327,9.585110,9.488768,0
9,2020 [YR2020],United Kingdom,0.000000,2.707744e+12,0.000000,0.0,0.000000,67215293,6.012522,5.948490,..
10,2011 [YR2011],France,5.104312,2.861408e+12,82.114634,44350.0,102.691101,65342789,20.859803,20.754653,43.3
11,2012 [YR2012],France,5.122311,2.683825e+12,81.968293,43380.0,102.523163,65659814,20.262030,20.180312,42.4
12,2013 [YR2013],France,5.100556,2.811078e+12,82.219512,43780.0,102.276443,65998685,18.129883,18.050775,43.6
13,2014 [YR2014],France,4.592377,2.852166e+12,82.719512,43320.0,101.280350,66312067,17.641495,17.561723,44.5
14,2015 [YR2015],France,4.666087,2.438208e+12,82.321951,41100.0,101.989639,66548272,16.433037,16.383599,45.1
15,2016 [YR2016],France,4.686612,2.471286e+12,82.573171,39070.0,102.260429,66724104,15.583267,15.539821,46.7
16,2017 [YR2017],France,4.727576,2.588741e+12,82.575610,38270.0,102.417221,66918020,16.807192,16.730358,47.2
17,2018 [YR2018],France,4.619241,2.786503e+12,82.724390,41080.0,102.874001,67101930,15.342621,15.312337,47.1
18,2019 [YR2019],France,0.000000,2.715518e+12,82.578049,42290.0,0.000000,67248926,15.935128,15.905195,47
19,2020 [YR2020],France,0.000000,2.603004e+12,0.000000,0.0,0.000000,67391582,17.556274,17.514769,..
20,2011 [YR2011],Germany,9.297791,3.744409e+12,80.436585,47220.0,102.466560,80274983,23.847167,23.356080,1.3
21,2012 [YR2012],Germany,9.449950,3.527345e+12,80.539024,46530.0,101.614197,80425823,22.639901,22.191159,1.3
22,2013 [YR2013],Germany,9.642559,3.732743e+12,80.490244,47190.0,100.838249,80645605,22.299752,21.859033,0
23,2014 [YR2014],Germany,9.106782,3.883920e+12,81.090244,47620.0,100.538643,80982500,20.747599,20.383085,1.3
24,2015 [YR2015],Germany,9.087291,3.356236e+12,80.641463,45750.0,101.667450,81686611,20.498797,20.130260,1.6
25,2016 [YR2016],Germany,9.073006,3.467498e+12,80.990244,44250.0,102.677559,82348669,19.154295,18.838913,1.9
26,2017 [YR2017],Germany,8.858294,3.673506e+12,80.992683,43650.0,104.022362,82657002,19.476609,19.222996,1.9
27,2018 [YR2018],Germany,8.558390,3.961832e+12,80.892683,47140.0,103.894562,82905782,20.022699,19.698701,2
28,2019 [YR2019],Germany,0.000000,3.861124e+12,80.941463,48550.0,0.000000,83092962,20.115787,19.798902,1.8
29,2020 [YR2020],Germany,0.000000,3.806060e+12,0.000000,46980.0,0.000000,83240525,17.788392,17.474166,..
30,2011 [YR2011],Japan,9.482450,6.157460e+12,82.591220,46880.0,0.000000,127833000,30.277985,29.642917,..
31,2012 [YR2012],Japan,9.811406,6.203213e+12,83.096098,49480.0,0.000000,127629000,32.075428,31.348981,..
32,2013 [YR2013],Japan,9.893680,5.155717e+12,83.331951,48280.0,0.000000,127445000,29.777281,29.210150,0
33,2014 [YR2014],Japan,9.584054,4.850414e+12,83.587805,43950.0,0.000000,127276000,24.843133,24.166407,0
34,2015 [YR2015],Japan,9.292832,4.389476e+12,83.793902,38840.0,0.000000,127141000,22.356465,21.760241,0
35,2016 [YR2016],Japan,9.223942,4.922538e+12,83.984878,37860.0,0.000000,126994511,18.590956,18.048072,0
36,2017 [YR2017],Japan,9.085639,4.866864e+12,84.099756,38490.0,0.000000,126785797,18.765310,18.277774,0
37,2018 [YR2018],Japan,8.742258,4.954807e+12,84.210976,41150.0,0.000000,126529100,15.286502,14.914376,0
38,2019 [YR2019],Japan,0.000000,5.064873e+12,84.356341,41580.0,0.000000,126264931,12.786570,12.510061,0
39,2020 [YR2020],Japan,0.000000,0.000000e+00,0.000000,0.0,0.000000,125836021,13.210769,12.889472,..
40,2011 [YR2011],United States,16.599404,1.554258e+13,78.641463,50580.0,99.389877,311583481,13.307788,12.864586,..
41,2012 [YR2012],United States,15.771145,1.619701e+13,78.741463,52760.0,99.165321,313877662,13.315748,12.885100,..
42,2013 [YR2013],United States,16.102958,1.678485e+13,78.741463,53930.0,99.455437,316059947,12.899915,12.508148,0
43,2014 [YR2014],United States,16.026379,1.752716e+13,78.841463,55840.0,99.673378,318386329,12.304887,11.984639,0
44,2015 [YR2015],United States,15.535342,1.823830e+13,78.690244,56740.0,100.299911,320738994,11.284041,10.989048,0
45,2016 [YR2016],United States,15.131747,1.874508e+13,78.539024,57270.0,101.362862,323071755,10.735529,10.477267,0
46,2017 [YR2017],United States,14.805882,1.954298e+13,78.539024,59460.0,101.821442,325122128,10.653650,10.398031,0
47,2018 [YR2018],United States,15.240875,2.061186e+13,78.639024,63510.0,101.256561,326838199,11.094679,10.812331,0
48,2019 [YR2019],United States,0.000000,2.143322e+13,78.787805,65910.0,0.000000,328329953,10.675456,10.400534,0
49,2020 [YR2020],United States,0.000000,2.093660e+13,0.000000,0.0,0.000000,329484123,8.488175,8.208079,..

In [8]:
df['Year']=df['Year'].str[:4]

In [9]:
df

,Year,Country,CO2 emissions (metric tons per capita),GDP (current US$),"Life expectancy at birth, total (years)","GNI per capita, Atlas method (current US$)","School enrollment, primary (% gross)","Population, total",Transport services (% of commercial service exports),"Transport services (% of service exports, BoP)",Public credit registry coverage (% of adults)
0,2011,United Kingdom,7.025425,2.659882e+12,80.951220,41060.0,104.425713,63258810,9.800114,9.687685,0
1,2012,United Kingdom,7.332471,2.704017e+12,80.904878,41690.0,106.246078,63700215,10.218725,10.105228,0
2,2013,United Kingdom,7.064903,2.783251e+12,81.004878,42730.0,107.112000,64128273,9.623713,9.509182,0
3,2014,United Kingdom,6.421598,3.065521e+12,81.304878,44400.0,102.255547,64602298,9.314380,9.210033,0
4,2015,United Kingdom,6.148545,2.932785e+12,80.956098,44340.0,101.925270,65116219,9.020134,8.921660,0
5,2016,United Kingdom,5.774742,2.693248e+12,81.156098,42940.0,101.335213,65611593,8.681399,8.594154,0
6,2017,United Kingdom,5.546266,2.662484e+12,81.256098,41280.0,101.154556,66058859,8.495493,8.414957,0
7,2018,United Kingdom,5.398708,2.857317e+12,81.256098,41740.0,100.995552,66460344,8.135844,8.066427,0
8,2019,United Kingdom,0.000000,2.830814e+12,81.204878,42130.0,0.000000,66836327,9.585110,9.488768,0
9,2020,United Kingdom,0.000000,2.707744e+12,0.000000,0.0,0.000000,67215293,6.012522,5.948490,..
10,2011,France,5.104312,2.861408e+12,82.114634,44350.0,102.691101,65342789,20.859803,20.754653,43.3
11,2012,France,5.122311,2.683825e+12,81.968293,43380.0,102.523163,65659814,20.262030,20.180312,42.4
12,2013,France,5.100556,2.811078e+12,82.219512,43780.0,102.276443,65998685,18.129883,18.050775,43.6
13,2014,France,4.592377,2.852166e+12,82.719512,43320.0,101.280350,66312067,17.641495,17.561723,44.5
14,2015,France,4.666087,2.438208e+12,82.321951,41100.0,101.989639,66548272,16.433037,16.383599,45.1
15,2016,France,4.686612,2.471286e+12,82.573171,39070.0,102.260429,66724104,15.583267,15.539821,46.7
16,2017,France,4.727576,2.588741e+12,82.575610,38270.0,102.417221,66918020,16.807192,16.730358,47.2
17,2018,France,4.619241,2.786503e+12,82.724390,41080.0,102.874001,67101930,15.342621,15.312337,47.1
18,2019,France,0.000000,2.715518e+12,82.578049,42290.0,0.000000,67248926,15.935128,15.905195,47
19,2020,France,0.000000,2.603004e+12,0.000000,0.0,0.000000,67391582,17.556274,17.514769,..
20,2011,Germany,9.297791,3.744409e+12,80.436585,47220.0,102.466560,80274983,23.847167,23.356080,1.3
21,2012,Germany,9.449950,3.527345e+12,80.539024,46530.0,101.614197,80425823,22.639901,22.191159,1.3
22,2013,Germany,9.642559,3.732743e+12,80.490244,47190.0,100.838249,80645605,22.299752,21.859033,0
23,2014,Germany,9.106782,3.883920e+12,81.090244,47620.0,100.538643,80982500,20.747599,20.383085,1.3
24,2015,Germany,9.087291,3.356236e+12,80.641463,45750.0,101.667450,81686611,20.498797,20.130260,1.6
25,2016,Germany,9.073006,3.467498e+12,80.990244,44250.0,102.677559,82348669,19.154295,18.838913,1.9
26,2017,Germany,8.858294,3.673506e+12,80.992683,43650.0,104.022362,82657002,19.476609,19.222996,1.9
27,2018,Germany,8.558390,3.961832e+12,80.892683,47140.0,103.894562,82905782,20.022699,19.698701,2
28,2019,Germany,0.000000,3.861124e+12,80.941463,48550.0,0.000000,83092962,20.115787,19.798902,1.8
29,2020,Germany,0.000000,3.806060e+12,0.000000,46980.0,0.000000,83240525,17.788392,17.474166,..
30,2011,Japan,9.482450,6.157460e+12,82.591220,46880.0,0.000000,127833000,30.277985,29.642917,..
31,2012,Japan,9.811406,6.203213e+12,83.096098,49480.0,0.000000,127629000,32.075428,31.348981,..
32,2013,Japan,9.893680,5.155717e+12,83.331951,48280.0,0.000000,127445000,29.777281,29.210150,0
33,2014,Japan,9.584054,4.850414e+12,83.587805,43950.0,0.000000,127276000,24.843133,24.166407,0
34,2015,Japan,9.292832,4.389476e+12,83.793902,38840.0,0.000000,127141000,22.356465,21.760241,0
35,2016,Japan,9.223942,4.922538e+12,83.984878,37860.0,0.000000,126994511,18.590956,18.048072,0
36,2017,Japan,9.085639,4.866864e+12,84.099756,38490.0,0.000000,126785797,18.765310,18.277774,0
37,2018,Japan,8.742258,4.954807e+12,84.210976,41150.0,0.000000,126529100,15.286502,14.914376,0
38,2019,Japan,0.000000,5.064873e+12,84.356341,41580.0,0.000000,126264931,12.786570,12.510061,0
39,2020,Japan,0.000000,0.000000e+00,0.000000,0.0,0.000000,125836021,13.210769,12.889472,..
40,2011,United States,16.599404,1.554258e+13,78.641463,50580.0,99.389877,311583481,13.307788,12.864586,..
41,2012,United States,15.771145,1.619701e+13,78.741463,52760.0,99.165321,313877662,13.315748,12.885100,..
42,2013,United States,16.102958,1.678485e+13,78.741463,53930.0,99.455437,316059947,12.899915,12.508148,0
43,2014,United States,16.026379,1.752716e+13,78.841463,55840.0,99.673378,318386329,12.304887,11.984639,0
44,2015,United States,15.535342,1.823830e+13,78.690244,56740.0,100.299911,320738994,11.284041,10.989048,0
45,2016,United States,15.131747,1.874508e+13,78.539024,57270.0,101.362862,323071755,10.735529,10.477267,0
46,2017,United States,14.805882,1.954298e+13,78.539024,59460.0,101.821442,325122128,10.653650,10.398031,0
47,2018,United States,15.240875,2.061186e+13,78.639024,63510.0,101.256561,326838199,11.094679,10.812331,0
48,2019,United States,0.000000,2.143322e+13,78.787805,65910.0,0.000000,328329953,10.675456,10.400534,0
49,2020,United States,0.000000,2.093660e+13,0.000000,0.0,0.000000,329484123,8.488175,8.208079,..

In [10]:
df['Year']=df['Year'].apply(lambda x: datetime.strptime(x, '%Y'))

In [ ]:
def preprocess(dataset):
    X = pd.DataFrame()
    X = dataset[col]
    #X=dataset['Type_Jour']
    
    Y = dataset['GIPA']

    # Label encoding for categorical variables
    label_encoder = LabelEncoder()

    X['Sens'] = label_encoder.fit_transform(dataset['Sens'])
    X['Doublon'] = label_encoder.fit_transform(dataset['Doublon'])
    


    return X, Y